[user]
	name = Florian Wallner
    email = wallner@balumba.org

[color]
	ui = true
[alias]
	loggraph = log --graph --abbrev-commit --pretty=oneline --all --decorate
	st = status
    br = branch
    co = checkout
[branch]
	autosetupmerge = true
[core]
	excludesfile = /home/wallner/.gitexcludes
