[user]
	name = Florian Wallner
    email = wallner@balumba.org

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
    ui = auto
[core]
    autocrlf = input
    safecrlf = true
	excludesfile = OCD_USER_HOME/.gitexcludes
